@media screen and (max-width: 767px){   
    #main-img{      
        content:url("Images/f6.jpg");
    } 
}

@media screen and (min-width: 768px) {      
    #main-img{      
       content:url("Images/prof10.jpg");
     } 
} 
@media (min-width: 992px){      
      #main-img{        
          content:url("Images/prof10.jpg");  
      } 
}
@media (min-width: 1200px) {    

     #main-img{         
         content:url("Images/prof12.jpg");   
     } 
}







/* Landing media query */
@media screen and (max-width: 480px){   
    #sectioned{
        padding-top: 0px;
    }

    #button{
        width: 100%;
        height: 35px;
        font-size: 12px;
        /* text-transform: none; */
    }
    }

@media screen and (max-width: 900px){
    #text{
        padding-left: 19px;
    }
}







/* CSS Document */
#headerPopup{
  width:75%;
  margin:0 auto;
}

#headerPopup iframe{
  width:100%;
  margin:0 auto;
}